@model Pizzeria.Models.Kund
<form asp-controller="User" asp-action="Login" method="post">
    <label asp-for="AnvandarNamn">Använd</label>
    <input type="text" asp-for="AnvandarNamn"/>
    <br /><br/>
    <label asp-for="Losenord">Lösenord</label>
    <input type="text" asp-for="Losenord"/>
    <input type="submit" value="Login"/>
</form>
